@model Matrix.Company.DomainClasses.About
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}
<link href="@Url.Content("~/Content/redactor/redactor.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/redactor/jquery-1.9.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/redactor/redactor.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/redactor/langs/fa.js")" type="text/javascript"></script>
<h2>
    بخش مدیریت | ایجاد درباره ما</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>درباره ما</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, htmlAttributes: new { style = "width:98%; height:500px" })
            <script type="text/javascript">
                $('#Description').redactor({

                    autoformat: false,
                    convertDivs: false
                });
            </script>
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Status)
            @Html.ValidationMessageFor(model => model.Status)
        </div>
        <p>
            <input type="submit" value="ایجاد" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("برگشت به لیست", "IndexAdmin")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}