@model Matrix.Company.ViewModel.Account.RegisterViewModel
@{
    ViewBag.Title = "ثبت نام";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>
        ایجاد یک کاربری</h2>
</hgroup>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>فرم ثبت نام</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </li>
            @*<div class="editor-label">
                @Html.Label("تصویر امنیتی")
            </div>
            <div id="border">
                <img src="@Url.Action("CaptchaImage")" class="captcha-image" alt=""/></div>
            <a href="#" class="refresh-captcha">تازه سازی</a>
            <div class="editor-label">
                @Html.LabelFor(model => model.CaptchaInputText)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.CaptchaInputText, new { autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.CaptchaInputText)
            </div>
            <div class="success-message">
                @TempData["message"]
            </div>*@ @*  @Html.Partial("~/Views/Shared/_Captcha.cshtml")*@
        </ol>
        <input type="submit" value="ثبت نام" />
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/common")
}