@using System.Globalization
@using Matrix.Company.UI
@{
    ViewBag.Title = "صفحه اصلی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/css")
@*@section featured {
    <section>
        <hgroup class="title">
            <h1>@ViewBag.Title:</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
    </section>
}*@
<br />
<p>@DateTime.Now</p>
<p>@ViewBag.Msg</p>
@using (Html.BeginForm())
{
    @Html.TextBox("parametr")
    <input type="submit" />
}
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">دپارتمان نرم افزار</a></li>
        <li><a href="#tabs-2">دپمارتمان سخت افزار</a></li>
        <li><a href="#tabs-3">دپارتمان طراحی بازی</a></li>
    </ul>
    <div id="tabs-1">
        <p>
            <strong>گروه نرم افزاری</strong></p>
        <p>
            @*@Html.Image(item.URL, item.WebLinkTitle)*@ ســرا نرم افزاری است جهت مدیریت آموزش
            و آموزشگاه ها که با هدف آسان سازی مدیریت امور بخش های مختلف یک آموزشگاه تولید شده
            است. با توجه به طراحی تحت وب این نرم افزار شما می توانید در فضای اینترنت و یا اینترانت
            (شبکه داخلی) در هر زمان و از هر مکان به امور کاری خود رسیدگی و یا گزارش های متنوع
            از آن استخراج کنید.
        </p>
    </div>
    <div id="tabs-2">
        <p>
            <strong>گروه سخت افزاری</strong></p>
        <p>
            این دپارتمان با هدف تامین کالای با کیفیت و گارانتی معتبر و به جهت پاسخگویی به نیازهای
            مشتریان آغازبه فعالیت نموده است که با تکیه بر سیاست مشتری مداری و تمرکز نیازهای
            مشتریان و فارغ از هر گونه تقید به برند خاص وایجاد سبد کالایی گسترده توانسته پاسخگوی
            مناسبی به در خواست مشتریان خود باشد. این واحد علاوه بر تامین قطعات سخت افزاری با
            در اختیار داشتن فضای مناسب کارگاهی توان تولید رایانه در تیراژ بالا را داشتند و با
            ظرفیت موجود توانسته در بسیاری از سازمانها و ارگانها با ارائه خدمات سریع و با کیفیت
            بعنوان ... مطمئن شناخته شود . این دپارتمان هم اکنون با در اختیار داشتن کارشناسی
            زبده توانسته است علاوه بر مشاوره و فروش محصولات ، خدمات پس از فروش مناسب رانیز ارائه
            دهد.</p>
    </div>
    <div id="tabs-3">
        <p>
            <strong>طراحی و تولید بازی های رایانه ای</strong></p>
        <p style="text-align: justify">
            بازی های الکترونیکی که از حدود دهه 80 میلادی شروع شد ، در حال حاضر به یکی از محبوب
            ترین سرگرمی ها و تفریحات بدل شده و به عنوان یکی از مهمترین اجزای فرهنگ سرگرمی در
            دنیا مطرح می باشد. از این رو فرصت های شغلی بسیار زیادی در زمینه های مختلف طراحی
            و تولید بازی های رایانه ای پیش رو بوده و با رشد و پیشرفت این صنعت با شتاب ویژه ای
            نیز توسعه پیدا می کند. بازی های رایانه ای را می توان به صورت انجام بازی با کمک رایانه
            تعریف کرد. اما این تعریف همه ویژگی های بازی های رایانه ای را در بر ندارد. بازی های
            رایانه ای ترکیبی از داستان ، هنر ، موسیقی ، افکت های صوتی ، انیمیشن و تکنیک های
            برنامه نویسی می باشد. ساخت یک بازی رایانه ای بسیار شبیه به ساخت یک فیلم سینمایی
            به همراه ترکیبات فوق الذکر است که برای ساخت نمونه های بسیار پیشرفته آن ، ممکن است
            گاه سالها ، تیمی متشکل از متخصصین در زمینه های مختلف داستان نویسی ، انیمیشن ، برنامه
            نویسی و نظایر آن ، فعالیت نمایند. زیرساخت اجرای بازی های رایانه ای در زمینه های
            زیر قابل تفکیک می باشد: · بازی های تحت کامپیوترهای شخصی · دستگاههای بازی (بازی های
            ویدئویی ، نظیر Playstation و Xbox) · بازی های تحت شبکه و اینترنت ·بازی های تحت موبایل
            بازی های رایانه ای ابزاری صرفا برای فعالیت های تجاری نیست بلکه در زمینه های آموزشی
            نیز کاربرد فراوان دارد و در صنعت بازی های رایانه ای به سرعت در حوزه های آموزشی نیز
            در حال پیشرفت می باشد. واقعیت این است که یکی از بهترین راهها برای آموزش دادن به
            کودکان ، از طریق بازی های آموزشی است. بازی های رایانه ای می تواند برای آموزش برنامه
            ریزی ، استراتژی های مختلف یادگیری ، تکنیک های حل مسائل و پازل ها ، افزایش تمرکز
            ، رقابت پذیری و افزایش مهارت های گوناگون با طراحی و ساخت بازی های مناسب دو بعدی
            یا سه بعدی ، بکار گرفته شود. از این رو موسسه بین المللی
        </p>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/common")
}