@model Matrix.Company.DomainClasses.Contact
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}
<h2>
    بخش مدیریت | جزئیات درباره ما</h2>
<fieldset>
    <legend>Contact</legend>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Subject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subject)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.FullName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullName)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("برگشت به لیست", "Index")
</p>