@model Matrix.Company.DomainClasses.Slider

@{
    ViewBag.Title = "DetailsAll";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

<h2>DetailsAll</h2>

<fieldset>
    <legend>Slider</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TitleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TitleName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Image)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Image)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.URLSilder)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.URLSilder)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
